HOST=0.0.0.0
PORT=3100
IRIS_SHARED_TOKEN=replace-with-at-least-16-random-characters
USER_VERIFICATION_PEPPER=replace-with-at-least-32-random-characters
IRIS_BASE_URL=http://127.0.0.1:3000
IRIS_IMAGE_FORWARD_ROOM_ID=
IRIS_EVENT_MONITOR_ROOM_ID=
IMAGE_MAX_BYTES=10485760
IMAGE_DOWNLOAD_TIMEOUT_MS=10000
BODY_LIMIT_BYTES=1048576
RAW_PAYLOAD_LOGGING=true
RECENT_EVENTS_ENABLED=true
RECENT_EVENT_LIMIT=50
DATABASE_ENABLED=false
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3307
DATABASE_USER=hoibot_app
DATABASE_PASSWORD=replace-with-a-random-database-password
DATABASE_NAME=hoibot
DATABASE_CONNECTION_LIMIT=5
DATABASE_CONNECT_TIMEOUT_MS=5000
